
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("MenuHeader", "Home")
@Html.Action("SlideShow", "SlideShow")
@*<div class="container">
    <div class="title-content">
        <span>Có thể bạn quan tâm</span>
        <a href="#" class="view_all">
            Xem tất cả →
        </a>
    </div>
</div>*@
@Html.Action("Product", "Product1")

@*<div class="waper-container">
    <div class="container">
        <div class="title-content">
            <span>Thời Trang Nam</span>
            <ul class="select_tab">
               <li class="active">Bán Chạy Nhất</li>
               <li>Mới Nhất</li>
               <li>Rẻ Nhất</li>
             </ul>
             <a href="#" class="view_all">
                   Xem tất cả →
              </a>
         </div>
     </div>
      <div class="tab-content">
          <div>@Html.Action("ProductNam", "Product1")</div>
          <div>@Html.Action("ProductNu", "Product1")</div>
          <div>@Html.Action("Product", "Product1")</div>
      </div>
</div>
<div class="container">
    <div class="title-content">
        <span>THỜI TRANG NỮ</span>
        <a href="#" class="view_all">
            Xem tất cả →
        </a>
    </div>
</div>
@Html.Action("ProductNu","Product1")
<div class="container">
    <div class="title-content">
        <span>THỜI TRANG MẸ VÀ BÉ</span>
        <a href="#" class="view_all">
            Xem tất cả →
        </a>
    </div>
</div>
@Html.Action("ProductMevabe", "Product1")*@


