@model Admin.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Thay đổi mật khẩu</h2>
@using (Html.BeginForm("ChangePassword", "Login"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @class = "error" })
    <div class="form-group">
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @type = "Password", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-dangerx" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.Confirm, new { @class = "form-control", @placeholder = "Xác nhận Password", @type = "Password", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(model => model.Confirm, "", new { @class = "text-dangerx" })
    </div>
                                <!-- Change this to a button or input when using this as a form -->
    <button style="margin-top:10px;" type="submit" class="btn btn-lg btn-success btn-block">Xác Nhận</button>
}
